.container__vertical-card {
  max-width: 287px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 10px;
}

.vertical-card__photo {
  width: 287px;
  height: 509.27px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: .5s;
}

.vertical-card__date > p {
  color: #B0B0B0;
  font-weight: 400;
  font-size: 12px;
}

.vertical-card__title > h1 {
  font-size: 20px;
}

.vertical-card__title > h1 > a {
  color: #1A1B1F;
  transition: .5s;
}

.vertical-card__title > h1 > a:hover {
  color: #727585;
}

