<div class="container__big-card">
  <div class="big-card__photo">
      <img
        src="https://s2-g1.glbimg.com/N_ZeU0FLbeJjRaVJL8rjKhfxKZA=/0x0:1918x1080/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/u/A/LaDHEwSpiONZlHWk4nqQ/harrypotter.jpg"
        alt=""
      >
  </div>
  <div class="big-card__date">
    <p>30 de Janeiro, 2024</p>
  </div>
  <div class="big-card__title">
    <h1><a href="">Série de Harry Potter a caminho</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur rerum illum nostrum magnam debitis vero obcaecati vitae alias accusamus voluptates harum eligendi.!</a></p>
  </div>
</div>
