.container__big-card {
  /* border: solid #fff 2px; */
  margin: 0 50px;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1 > a{
  margin-top: 10px;
  font-weight: 600;
  font-size: 32px;
  color: #B0B0B0;
  transition: .5s;
}

.big-card__title > h1 > a:hover {
  color: #fafafa;
}

.big-card__date > p {
  margin-top: 10px;
  color: #4E4E4E;
  font-weight: 400;
  font-size: 14px;
}

.big-card__description {
  margin-top: 10px;
}

.big-card__description > p > a{
  color: #8f8f8f;
  font-weight: 300;
  font-size: 18px;
}

.big-card__photo > img{
  width: 100%;
  min-width: 600px;
}
