.container__footer-bar {
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: #121212;
}

.footer-bar__logo > img {
  width: 10rem;
}

.container__footer-bar ul{
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  user-select: none;
  color: #fff;
}

.container__footer-bar ul > li > a {
  color: #B0B0B0;
  transition: .5s;
}

.container__footer-bar ul > li > a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-bar__copy > a {
  color: #B0B0B0;
  transition: .5s;
}

.footer-bar__copy > a:hover {
  text-decoration: underline;
  color: #fff;
}
