<div class="container__footer-bar">
  <div class="footer-bar__logo">
    <img src="../../../assets/NB.svg" alt="Logo Neto Blog">
  </div>
  <div class="footer-bar__links">
    <ul>
      <li><a href="https://linkedin.com/in/netoodev" target="_blank">Linkedin</a></li>
      <li><span>•</span></li>
      <li><a href="https://github.com/netoodev" target="_blank">Github</a></li>
      <li><span>•</span></li>
      <li><a href="mailto:netoodeveloper@gmail.com" target="_blank">Email</a></li>
    </ul>
  </div>
  <div class="footer-bar__copy">
    <a href="https://www.dwinawan.com/blog" target="_blank">(dwinawan's design inspired)</a>
  </div>
</div>
