.container__menu-title {
  color: #fff;
}

.container__menu-title > h1 {
  font-size: 200px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.container__menu-title > hr {
  margin-bottom: 5px;
  border-color:#4e4e4e;
}
