<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://i.pinimg.com/originals/35/97/e2/3597e29ce0315f1fb44b2abec4c91fe9.webp"
        alt=""
      >
    </div>
    <div class="info-wrapper__small-card">
      <div class="small-card__date">
        <p>30 de Janeiro, 2024</p>
      </div>
      <div class="small-card__title">
        <h1><a href="">Sarah J. Mass anuncia lançamento de "Casa de Chama e Sombra"</a></h1>
      </div>
    </div>
  </div>

  <div class="container__small-card-separator">
    <hr/>
  </div>

</div>
