<div class="container__content">
  <div class="content__title">
    <hr/>
    <h1>{{contentTitle}}</h1>
    <hr/>
  </div>
  <div class="content__info-wrapper">
    <div class="content__cover">
      <img src="{{photoCover}}" alt="">
      <div class="cover-subtitle">
        <div class="separator"></div>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus eius! Aliquam nam blanditiis nesciunt ratione." ~ Sr Lorem</p>
      </div>
    </div>
    <div class="separator"></div>
    <div class="content__description">
      <p>{{contentDescription}}</p>
    </div>
  </div>
</div>
