.container__content {
  width: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
}

.content__title {
  width: 100%;
}

.content__title > h1 {
  font-size: 4rem;
  font-weight: 800;
  width: 90%;
  padding: 0 5%;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: default;
  user-select: none;
}

.content__title > hr {
  margin: 20px 0 5px 0;
  border-color:#4e4e4e;
}

.content__info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5%;
}

.content__cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}

.content__cover > img{
  width: 600px;
  min-width: 500px;
}

.cover-subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 600px;
  margin-top: 30px;
  gap: 20px;
}

.cover-subtitle > p {
  font-style: italic;
  font-size: 16px;
  color: #8f8f8f;
}

.cover-subtitle .separator {
  height: 60px;
}

.separator {
  width: 1px;
  height: 650px;
  background-color: #4e4e4e;
}

.content__description p {
  width: 800px;
  text-align: justify;
  color: #8f8f8f;
  font-size: 20px;
}
