.container__articles {
  padding: 60px;
  display: flex;
  justify-content: center;
}

section.universo-literario {
  width: 100%;
  background-color: #fff;
  padding: 50px 5%;
}

.universo-literario > h1 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B7B7B7;
  background-color: transparent;
  user-select: none;
}

.container__vertical-articles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vertical-card__separator {
  width: 1px;
  height: 650px;
  background-color: #e2e2e2;
}
