<div class="container__menu-bar">
  <div class="menu-bar__info">
    <img
    [routerLink]="['']"
    src="https://media.discordapp.net/attachments/1118178250418573376/1202274815860281445/netoodev-profile.jpg?ex=65ccdcad&is=65ba67ad&hm=5e10c956a2b31e2a4f3ce2cb77cda4c0781e6d8561d2a9a268f91332cf38bbf0&=&format=webp&width=423&height=423"
    alt="">
    <span [routerLink]="['']">&#64;netoodev ▾</span>
  </div>
  <ul>
    <li><a href="https://linkedin.com/in/netoodev" target="_blank">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/netoodev" target="_blank">Github</a></li>
    <li><span>•</span></li>
    <li><a href="mailto:netoodeveloper@gmail.com" target="_blank">Email</a></li>
  </ul>
</div>
