.container__menu-bar {
  padding: 0 5%;
}

nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__menu-bar .menu-bar__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container__menu-bar .menu-bar__info img {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container__menu-bar .menu-bar__info span {
  cursor: pointer;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 32px;
  user-select: none;
  color: #fff;
}

.container__menu-bar ul > li > a {
  color: #B0B0B0;
  padding-block: 16px;
  transition: .5s;
}

.container__menu-bar ul > li > a:hover {
  text-decoration: underline;
  color: #fff;
}

